#introScreen {
    background-image: url('images/FrontPage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make sure the background covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introScreen > h1, #introScreen > button {
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 20px;
    border-radius: 10px;
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#game {
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameScreen, #resultScreen {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
